<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#f9f9f9">
    <title>{{ .Site.Title }}</title>
    <link rel="shortcut icon" href="{{ $.Site.Params.images.favicon }}">
    <meta name="keywords" content="网址导航,网站导航,资源导航,创意导航,创意网站导航,软件导航,程序员网址导航">
    <meta name="description" content="FomalHaut导航 - 收集国内外优秀网站、资源网站、灵感创意网站、素材资源网站，提升效率。">
    <meta name="baidu-site-verification" content="" />
    <meta name="sogou_site_verification" content=""/>
    <meta name="360-site-verification" content="" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nav.fomal-haut.com">
    <meta property="og:title" content="FomalHaut导航">
    <meta property="og:description" content="FomalHaut导航 - 收集国内外优秀网站、资源网站、灵感创意网站、素材资源网站，提升效率。">
    <meta property="og:image" content="https://nav.fomal-haut.com/static/assets/images/site.png">
    <meta property="og:site_name" content="FomalHaut导航">
    <link rel='stylesheet' id='wp-block-library-css' href='{{ $.Site.Params.siteurl }}/assets/css/block-library.min-5.6.2.css' type='text/css' media='all'>
    <link rel='stylesheet' id='iconfont-css' href='{{ $.Site.Params.siteurl }}/assets/css/iconfont-3.03029.1.css' type='text/css' media='all'>
    <link rel='stylesheet' id='bootstrap-css' href='{{ $.Site.Params.siteurl }}/assets/css/bootstrap.min-4.3.1.css' type='text/css' media='all'>
    <link rel='stylesheet' id='lightbox-css' href='{{ $.Site.Params.siteurl }}/assets/css/fancybox.min.css' type='text/css' media='all'>
    <link rel='stylesheet' id='style-css' href='{{ $.Site.Params.siteurl }}/assets/css/main.css' type='text/css' media='all'>
    <link rel='stylesheet' id='style-css' href='{{ $.Site.Params.siteurl }}/assets/css/custom-style.css' type='text/css' media='all'>
    <link rel="stylesheet" id="fortawesome-css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css?ver=1.1422" type="text/css">
    <script type='text/javascript' src='{{ $.Site.Params.siteurl }}/assets/js/jquery.min-3.2.1.js' id='jquery-js'></script>
    <script type='text/javascript' src='{{ $.Site.Params.siteurl }}/assets/js/content-search.js' id='content-search-js'></script>
    <!-- 百度统计 -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?5311a1145f1a4bbb93bab469fbef239f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- end 百度统计 -->   
    <style>
      .tooltip-inner {max-width:100px !important}
    </style>
</head>
